:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background:url(/static/img/bg.png) repeat-x;
}

main {
	width: 100%;
	display: table;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color:gold;
}

a[href]:not(:hover) {
	text-decoration: none;
}
#welcome{
	text-align: center;
}
.wrapper{
	width: 1154px;
	margin: 0 auto;
}
.wrapper2{
	width: 1366px;
	margin: 0 auto;
}
main, footer {
	padding: 1em;
	
}

main {
	padding-bottom: 2em;
	color: #fff;
	
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

/* Header Logo (style as h2) */
header {
	display: table;
	width: 100%;
	padding: 5px 15px;
	background: url(/static/img/bg-menu.png) repeat;
	position: absolute;
	z-index: 1000;
	}
header .head-title{
	width: 100%;
	margin-top: 15px;
	text-align: center;
	display: table;

}
header .head-title .logo{
	width:400px;
	margin: 0 auto;

}
header .head-title a{
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	padding: 0;
	margin: 0;
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
}

/* Header Nav */
header nav{
	text-align: center;
	width: 100%;
	color: #fff;

}

nav ul{
	margin: 0 0  15px 0;
}
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}
/* banner */
banner{
	width: 100%;
	display: block;
}
.rslides {
	margin: 0 auto;
	}
  
  .rslides_container {
	margin-bottom: 0px;
	position: relative;
	float: left;
	width: 100%;
	display: table;
	}
  
  .centered-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("/static/img/themes.gif") no-repeat left top;
	margin-top: -45px;
	}
  
  .centered-btns_nav:active {
	opacity: 1.0;
	}
  
  .centered-btns_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
	}
  
  .transparent-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0;
	left: 0;
	display: block;
	background: #fff; /* Fix for IE6-9 */
	opacity: 0;
	filter: alpha(opacity=1);
	width: 48%;
	text-indent: -9999px;
	overflow: hidden;
	height: 91%;
	}
  
  .transparent-btns_nav.next {
	left: auto;
	right: 0;
	}
  
  .large-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0.6;
	text-indent: -9999px;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	background: #000 url("themes.gif") no-repeat left 50%;
	width: 38px;
	}
  
  .large-btns_nav:active {
	opacity: 1.0;
	}
  
  .large-btns_nav.next {
	left: auto;
	background-position: right 50%;
	right: 0;
	}
  
  .centered-btns_nav:focus,
  .transparent-btns_nav:focus,
  .large-btns_nav:focus {
	outline: none;
	}
  
  .centered-btns_tabs,
  .transparent-btns_tabs,
  .large-btns_tabs {
	margin-top: 10px;
	text-align: center;
	display: none;
	}
  
  .centered-btns_tabs li,
  .transparent-btns_tabs li,
  .large-btns_tabs li {
	display: inline;
	float: none;
	_float: left;
	*float: left;
	margin-right: 5px;
	}
  
  .centered-btns_tabs a,
  .transparent-btns_tabs a,
  .large-btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #ccc;
	background: rgba(0,0,0, .2);
	display: inline-block;
	_display: block;
	*display: block;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	width: 9px;
	height: 9px;
	}
  
  .centered-btns_here a,
  .transparent-btns_here a,
  .large-btns_here a {
	background: #222;
	background: rgba(0,0,0, .8);
	}

.iklan{
	width: 100%;

}
.box-iklan{
	width: 33.343434%;
	display: inline-table;
	margin-left:20px;
}
.box-iklan:nth-child(1){
	margin-left: 0;
}
.box-iklan img{
	width: 100%;
}

  /*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	}
  
  .rslides li {
	visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	}
  
  .rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	}
  
  .rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	}

  
/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}
footer{
	background: #000;
}
.m-footer{
	width: 100%;
	padding: 15px;
	display: block;
}
.boxs-banner{
	width: auto;
	padding-right: 15px;
	display: inline-table;
}
.boxs-banner:nth-child(3){
	padding-right: 0;
}
.boxs-banner img{
	width: 100%;
}
#menu{
	display: block;
}
#menumob{
	display: none;
}
@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

}
@media screen and (max-width:768px) {

	.wrapper{
		width:100%;
	}
	.boxs-banner {
		width: 33.32222%;
	}
	.centered-btns_nav{
		display: none;
	}
	/* nav mobile*/

	header{
		display: none;
	}

	#mobile {
		position: relative;
		margin: 27px auto;
	}
	
	#mobileBodyContent {
		background: #f8f7f5;
		position: relative;
		z-index: 2000;
		width: 100%;
		height: 100%;
		overflow: scroll;
		visibility: visible;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-khtml-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}
		
	#menumob{
		display: block;
		width: 100%;
		height: 27px;
		background: #000;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	#burgerBtn {
		border-top: 2px solid #f85051;
		height: 14px;
		width: 20px;
		box-sizing: border-box;
		position: absolute;
		z-index: 3000;
		left: 20px;
		top: 7px;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-khtml-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}
	#burgerBtn:before {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 20px;
		left: 0;
		background: #f85051;
		top: 4px;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-khtml-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}
	#burgerBtn:after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 20px;
		left: 0;
		background: #f85051;
		bottom: 0;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-khtml-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}
	
	#nav {
		position: absolute;
		z-index: 10;
		list-style-type: none;
		margin: 100px 0 0 20px;
		padding: 0;
		overflow: hidden;
	}
	#nav li {
		height: 30px;
		width: 0;
		margin: 30px 0;
		background: #eae8e5;
		-webkit-transition: all 0.6s ease-in;
		-moz-transition: all 0.6s ease-in;
		-khtml-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}
	#nav li + li {
		margin-left: -40px;
	}
	#nav li + li + li {
		margin-left: -80px;
	}
	#nav li + li + li + li {
		margin-left: -120px;
	}
	
	
	
	.navigation #nav li {
		width: 200px;
		margin-left: 0;
	}
	.navigation #burgerBtn {
		border-color: transparent;
	}
	.navigation #burgerBtn:before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-khtml-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 20px;
		left: -2px;
	}
	.navigation #burgerBtn:after {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-khtml-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		bottom: 6px;
		width: 20px;
		left: -2px;
	}
	
	.navigation #mobileBodyContent {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  visibility: hidden;
	}
	



}
