:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: #d4c18b;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background: #0e0011;

}

.main-blok {
	width: 100%;
	display: table;
	text-align: justify;
}

p,
pre,
code {
	line-height: 1.5;
}
h1{
	color: #fd868a;
}
a[href],
a[href]:visited {
	color:#FD868A;
	text-decoration: none
}

a[href]:not(:hover) {
	text-decoration: none;
}
#welcome{
	text-align: center;
}
.wrapper{
	width: 1154px;
	margin: 0 auto;
	position: relative;
}
.wrapper2{
	width: 1366px;
	margin: 0 auto;
}
main{
	width: 100%;
	display: block;
	background:#0e0011 url("/static/img/bg1.png") repeat-x 0 680px;
	color:#fff;
}
p img{
	display: table;
}

.main-blok, footer {
	padding: 1em;
	
}

.main-blok {
	padding-top: 0;
	padding-bottom: 2em;
	color: #ce8acb;
	
}

.main-blok :first-child,
.main-blok > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

/* Header Logo (style as h2) */
header {
	display: table;
	width: 100%;
	padding: 5px 15px;
	background: url("/static/img/bg-menu.png") repeat;
	position: absolute;
	z-index: 1000;
	}
header .head-title{
	width: 100%;
	margin-top: 15px;
	text-align: center;
	display: table;

}
header .head-title .logo{
	width:400px;
	margin: 0 auto;

}
header .head-title a{
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	padding: 0;
	margin: 0;
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
}

/* Header Nav */
header nav{
	text-align: center;
	width: 100%;
	color: #fff;

}

nav ul{
	margin: 0 0  15px 0;
}
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}
.menu-log{
	position: absolute;
	top: -10px;
	right: 0px;
}
.menu-log ul {
	display: table;
	margin: 0;
	padding: 0;
}
.menu-log ul li{
	display: inline-table;
	padding: 0 10px;
}
.menu-log ul li a{
	background: url(/static/img/icon-set.png) no-repeat;
	text-decoration: none;
	
	padding: 0;
	padding-left: 22px;
}
.menu-log ul li .netlify-identity-login{
	background-position: 0 3px;

}
.menu-log ul li .netlify-identity-signup{
	background-position: 0 -38px;
}
.menu-log ul li .netlify-identity-login:hover{
	background-position: 0 -18px;
	color: #fcbe8b;
}
.menu-log ul li .netlify-identity-signup:hover{
	background-position: 0 -59px;
	color: #fcbe8b;
}
/* gallery */
.gallery{
	width: 23.69696434%;
	display: inline-table;
	margin-right: 20px;
	line-height: 0;
	border: 1px solid #480157;
	border-radius: 8px;
	overflow: hidden;
	padding: 0;
	background: #220123;
	vertical-align: top;
}
.gallery:nth-child(4){
	margin-right: 0;
}
.gallery img{
	width: 100%;
	border:0;
	border-radius: 15px;
	margin-bottom: 10px;
	padding: 10px;
	height: 177px;;
}
.listgalery {
	padding: 10px;
	font-size: 14px;
}
.listgalery .date{
	margin: 0;
	border-top: 1px solid #480157;
}
.listgalery .summ{
	height: 65px;
	overflow: hidden;
	border-bottom: 1px solid #000;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.listgalery .tags{
	margin-top: 0;
}
.listgalery h3{
	font-size: 16px
}
/* banner */
.iklan-right{
	width: 100%;
	display: table;
	margin-bottom: 20px;
	border: 2px solid #E0CCA9;
	line-height: 0;
	border-radius: 8px;
	overflow: hidden;
}
.likright{
	width: 100%;
}

banner{
	width: 100%;
	display: block;
}


.rslides {
	margin: 0 auto;
	}
  
	.rslides_container {
    margin-bottom: 0;
    position: relative;
    display: table;
    max-width: 1366px;
		margin: 0 auto;
	}
  
  .centered-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("/static/img/themes.gif") no-repeat left top;
	margin-top: -45px;
	}
  
  .centered-btns_nav:active {
	opacity: 1.0;
	}
  
  .centered-btns_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
	}
  
  .transparent-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0;
	left: 0;
	display: block;
	background: #fff; /* Fix for IE6-9 */
	opacity: 0;
	filter: alpha(opacity=1);
	width: 48%;
	text-indent: -9999px;
	overflow: hidden;
	height: 91%;
	}
  
  .transparent-btns_nav.next {
	left: auto;
	right: 0;
	}
  
  .large-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0.6;
	text-indent: -9999px;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	background: #000 url("themes.gif") no-repeat left 50%;
	width: 38px;
	}
  
  .large-btns_nav:active {
	opacity: 1.0;
	}
  
  .large-btns_nav.next {
	left: auto;
	background-position: right 50%;
	right: 0;
	}
  
  .centered-btns_nav:focus,
  .transparent-btns_nav:focus,
  .large-btns_nav:focus {
	outline: none;
	}
  
  .centered-btns_tabs,
  .transparent-btns_tabs,
  .large-btns_tabs {
	margin-top: 10px;
	text-align: center;
	display: none;
	}
  
  .centered-btns_tabs li,
  .transparent-btns_tabs li,
  .large-btns_tabs li {
	display: inline;
	float: none;
	_float: left;
	*float: left;
	margin-right: 5px;
	}
  
  .centered-btns_tabs a,
  .transparent-btns_tabs a,
  .large-btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #ccc;
	background: rgba(0,0,0, .2);
	display: inline-block;
	_display: block;
	*display: block;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	width: 9px;
	height: 9px;
	}
  
  .centered-btns_here a,
  .transparent-btns_here a,
  .large-btns_here a {
	background: #222;
	background: rgba(0,0,0, .8);
	}

.iklan{
	width: 100%;
	margin-bottom: 25px;
}
.box-iklan{
	width: 23.69696434%;
	display: inline-table;
	margin-right: 20px;
	margin-top: 20px;
	line-height: 0;
	border: 2px solid #E0CCA9;
	border-radius: 8px;
	overflow: hidden;
}

.box-iklan:nth-child(4){
	margin-right: 0;
}

.box-iklan img{
	width: 100%;

}
  /*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
	margin-bottom: 0;
	position: relative;
	width: 100%;
	display: table;
	max-width: 1366px;
	margin: 0 auto;
}

  
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
  
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	}
  
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

  
/* Posts List */
article {
	margin-bottom: 1em;
	padding-left: 0;
	border-bottom: 1px solid #681901;

}

.main-blok > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .620em;
	font-style: italic;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	background-color: #000;
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}
footer{
	background: #000;
	color: #fff;
}
.m-footer{
	width: 100%;
	padding: 15px;
	display: block;
	color: #fff;
}
.box-footer{
	width: 31.3333%;
	display: inline-table;
	border-right: 1px solid #681901;
	margin-right: 30px;
}
.box-footer:nth-child(3){	
	margin-right: 0;
	border-right: none;
}
.box-footer aside{
	background:url(/static/img/bullet.png) no-repeat 3px 5px;
	padding-left:23px;
}
.box-footer aside h3{
	color:#d4c18b;
	font-size: 14px;
	font-weight: 500;
	margin: 0;

}
.box-footer p{
	margin:0 0 5px 0;
	font-size: 12px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
#menumob{
	display: none;
}
.b-content{
	margin: 0 auto;
	margin-top: 180px!important;
	margin-bottom: 20px;
	display: table;
}

.main-cont-left{
	width: 65%;
	display: inline-block;
	border-bottom: none;
	padding-left: 0;
	padding-right:20px;
	vertical-align: top;
}
.main-cont-right{
	width: 35%;
	display: inline-block;
	border-bottom: none;
	vertical-align: top;
}

.main-cont-right .blocklist aside{
	margin-bottom: 15px;
	border-bottom: 1px solid #d4c18b;
	padding-bottom: 3px;
}
.main-cont-right .blocklist aside .thumbnail1{
	width: 70px;
	height: 45px;
	display: block;
	float: left;
	margin-right: 8px;
	border: 1px solid #fff;
}
section article .thumbnail2{
	width: 144px;
	height: 88px;
	display: inline-table;
	float: left;
	margin-right: 15px;
	border: 1px solid #681901;
	margin-top: 7px !important;
}
section article .listblog{
	display: inline-table;
}

section article .listblog h3{
	margin-bottom:10px;
}
section article p{
	display: block;
}
section article  .date{
	font-size: 14px;
	color: #f85051;
}
section article .tag{
	width: 100%;
	margin-top: 15px;
	display: table;
}
small{
	margin-bottom:15px;
	color: #f85051
}
@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

}
@media screen and (max-width:1024px) {
	.wrapper{
		width:980px;
	}
	.box-iklan {
    width: 23.48964%;
	}
	.main-cont-left{
		width: 64%;
	}
	.main-cont-right {
		width: 34%;
	}
	.box-footer {
		width: 30.3333%;
	}
	.b-content{
		width: 100%;
	}
	.gallery {
		width: 30.996964%;
	}
	.gallery::nth-child(3n+0) {
		margin-right: 0;
	}
}


@media screen and (max-width:768px) {
	.logo2{
    width: 33%;
    float: left;
    margin-top: 3px;
		margin-left: 10px;
		font-weight: 600;
	}
	.logo2 img{
		width: 100%;
	}
	.wrapper{
		width:100%;
	}
	.box-footer {
		width: 33.32222%;
		margin-right:0;
		border:0;
	}
	.centered-btns_nav{
		display: none;
	}
	
	/* nav mobile*/

	header{
		display: none;
	}
	.b-content{
		margin: 0 auto;
    margin-top: 27px!important;
    margin-bottom: 20px;
		display: table;
		width: 100%;
	}
	.box-iklan{
		width: 47.567676%;
	}
	.box-iklan:nth-child(2n+0) {	
		margin-right: 0;
	}

	.main-cont-left, .main-cont-right{
		width: 100%;
		padding:0;
	}
	.gallery{
		width: 47.996964%;
	}
	.gallery:nth-child(2n+0){
		margin-right: 0;
	}

	/* menu mobile */
  nav:not(.mm-menu) {
    display: none;
  }
  .mh-head {
    text-align: center;
    padding: 0 10px;
    margin: 0;
    position: relative;
    background: #000;
    color: #fff;
    min-height: 40px;
    display: block;
  }
  .mm-menu, .mm-panel, .mm-panels {
    background: #424242 !important;
    -webkit-box-shadow: inset 0px 11px 9px #ccc;
            box-shadow: inset 0px 11px 9px #ccc;
  }
  .mm-navbar {
    background: #1b1b1b !important;
    color: #fff;
  }
  .mh-head a {
    color: inherit;
    text-decoration: none;
  }
  .mh-head.mh-size-2 {
    min-height: 80px;
  }
  .mh-head.mh-size-3 {
    min-height: 120px;
  }
  .mh-head.mh-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: -webkit-transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .mh-head.mh-sticky.mh-scrolledout {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .mh-head .mh-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    display: block;
    padding: 10px;
  }
  .mh-head .mh-align-left .mh-text {
    text-align: left;
  }
  .mh-head .mh-align-right .mh-text {
    text-align: right;
  }
  .mh-head .mh-btns-left {
    padding-left: 50px;
  }
  .mh-head .mh-btns-left-2 {
    padding-left: 90px;
  }
  .mh-head .mh-btns-left-3 {
    padding-left: 130px;
  }
  .mh-head .mh-btns-right {
    padding-right: 50px;
  }
  .mh-head .mh-btns-right-2 {
    padding-right: 90px;
  }
  .mh-head.mh-btns-right-3 {
    padding-right: 130px;
  }
  .mh-head .mh-btns-left, .mh-head .mh-btns-right {
    display: block;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .mh-head .mh-btns-left {
    left: 10px;
  }
  .mh-head .mh-btns-right {
    right: 10px;
  }
  .mh-head.mh-btns-left-2 .mh-btns-left, .mh-head.mh-btns-right-2 .mh-btns-right {
    width: 80px;
  }
  .mh-head.mh-btns-left-3 .mh-btns-left, .mh-head.mh-btns-right-3 .mh-btns-right {
    width: 120px;
  }
  .mh-head .mh-btns-left > *, .mh-head .mh-btns-right > * {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    width: 40px;
    display: block;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .mh-head .mh-btns-left > :nth-child(1), .mh-head .mh-btns-right > :nth-child(1) {
    left: 0;
  }
  .mh-head .mh-btns-left > :nth-child(2), .mh-head .mh-btns-right > :nth-child(2) {
    left: 40px;
  }
  .mh-head .mh-btns-left > :nth-child(3), .mh-head .mh-btns-right > :nth-child(3) {
    left: 80px;
  }
  .mh-head .mh-list {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    line-height: 20px;
    display: block;
    padding: 0;
    margin: 0;
  }
  .mh-head .mh-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .mh-head .mh-list li a, .mh-head .mh-list li span {
    display: block;
    padding: 10px;
  }
  .mh-head.mh-align-left .mh-list {
    text-align: left;
  }
  .mh-head.mh-align-right .mh-list {
    text-align: right;
  }
  .mh-head .hamburger {
    margin-top: 2px;
    -webkit-transform: scale(0.5, 0.6) translateY(-50%);
    transform: scale(0.5, 0.6) translateY(-50%);
    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
  .mh-head .mh-image, .mh-head .mh-logo {
    background: none center center transparent no-repeat;
    display: block;
    height: 100%;
  }
  .mh-head .mh-logo {
    background-size: contain;
    background-clip: content-box;
    padding: 10px;
  }
  .mh-head.mh-align-left .mh-logo {
    background-position: left center;
  }
  .mh-head.mh-align-right .mh-logo {
    background-position: right center;
  }
  .mh-head .mh-image {
    background-size: cover;
  }
  .mh-head .mh-form {
    padding: 7px 0;
    position: relative;
  }
  .mh-head .mh-form input {
    background: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 26px;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 26px;
    width: 100%;
    padding: 0 10px;
  }
  .mh-head .mh-form .fa {
    color: #ccc;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}
@media screen and (max-width:568px) {
	.box-footer{
		width: 50%;
	}
}

@media screen and (max-width:450px) {
	.logo2{
		width: 40%;
	}
	.box-iklan {
    width: 46.567676%;
	}
	.gallery{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
		img{
			height: auto;
		}
	}
	
	.box-footer{
		width: 100%;
	}

}
