<section>
	{% for article in articlelist | reverse %}
		{% if article.data.tags %}
			{% for tag in article.data.tags %}
		  		{%- if tag == "article" -%}

					<article{% if article.url == url %} data-current="current item"{% endif %}>
						{% if article.data.thumbnail %}
							<img class="thumbnail2" src="{{ '/' | url }}static/img/{{ article.data.thumbnail }}">
							{% else %}
								<img class="thumbnail2" src="{{ '/' | url }}static/img/no-image.png">
						{% endif %}	
						<div class="listblog">
						<h3>
							<a href="{{ article.url | url }}">
								{% if article.data.title %}
									{{ article.data.title }}
								{% else %}
									Untitled
								{% endif %}
							</a>
						</h3>
						{% if article.data.summary %}
							<p>
								{{ article.data.summary }}
							</p>
						{% endif %}
						<p class="date">
							<time datetime="{{ article.date | machineDate }}">
								<small>{{ article.date | readableDate }} by {{ metadata.author.name }}</small>
							</time>
						</p>
						
							<p>
								
									{% set tagUrl %}/tags/{{ tag }}/{% endset %}
									<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
								
							</p>
						
						</div>
					</article>
				{%- endif -%}
			{% endfor %}
		{% endif %}
	{% endfor %}
</section>