<banner>

    <div class="rslides_container">
      <ul class="rslides" id="slider1">
        <li><img class="logo" src="{{ '/' | url }}static/img/img-casino-bn-allbet.jpg"></li>
        <li><img class="logo" src="{{ '/' | url }}static/img/img-casino-bn-og.jpg"></li>
      </ul>
    </div>
</banner>
