<div class="iklan-right">
	<img class="likright" src="{{ '/' | url }}static/img/iklan1.png">
</div>
<div class="iklan-right">
	<img class="likright" src="{{ '/' | url }}static/img/iklan2.png">
</div>

