<div class="iklan-right">
	<img class="likright" src="{{ '/' | url }}static/img/iklan-banner1.png">
</div>
<div class="iklan-right">
	<img class="likright" src="{{ '/' | url }}static/img/iklan-banner2.png">
</div>

