<div class="m-footer">
      <div class="wrapper">
            <div class="boxs-banner">
                  <img class="logo" src="{{ '/' | url }}static/img/1.png">
            </div>
            <div class="boxs-banner">
                  <img class="logo" src="{{ '/' | url }}static/img/2.png">
            </div>
            <div class="boxs-banner">
                  <img class="logo" src="{{ '/' | url }}static/img/3.png">
            </div>
      </div>
</div>


<footer>
      <div class="wrapper">
            <small>
                  copyright@2019
            </small>
      </div>
</footer>

