<div class="m-footer">
      <div class="boxs-banner">
            <img class="logo" src="{{ '/' | url }}static/img/1.png">
      </div>
       <div class="boxs-banner">
            <img class="logo" src="{{ '/' | url }}static/img/2.png">
      </div>
      <div class="boxs-banner">
            <img class="logo" src="{{ '/' | url }}static/img/3.png">
      </div>
</div>


<footer>
  <small>
    This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>

  {% set js %}
    {% include "assets/js/navmob.js" %} 
  {% endset %}