<div class="wrapper">
    <div class="menu-log" data-netlify-identity-menu></div>	
    <div class="head-title">            
        <a href="{{ '/' | url }}"><img class="logo" src="{{ '/' | url }}static/img/logo3.png"></a>
    </div>
</div>
