<div class="iklan">
    <div class="wrapper">
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.png">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.png">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.png">
        </div>
    </div>
</div>