<section class="iklan">
    <div class="wrapper">
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/3.png">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.png">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/5.png">
        </div>
         <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/6.png">
        </div>
    </div>
</section>