<section class="m-footer">
     <div class="wrapper">
          <div class="box-footer">
               <h3>KATAGORI</h3>
               <ul>
               {% for post in postslist | reverse %}
               {% if post.data.tags %}
                    {% for tag in post.data.tags %}
                    <li> 
                         {% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                    </li>
                    {% endfor %}
               {%- endif -%}
               {% endfor %}
               </ul>
          </div>
          <div class="box-footer">
               <h3>BLOG</h3>
               <ul>
                    <li> satu </li>
                    <li> dua </li>
                    <li> satiga </li>
                    <li> saempat </li>
                    <li> lima</li>
               </ul>
          </div>
          <div class="box-footer">
               <h3>ARTIKEL</h3>
               <ul>
                    <li> satu </li>
                    <li> dua </li>
                    <li> satiga </li>
                    <li> saempat </li>
                    <li> lima</li>
               </ul>

          </div>
     </div>
</section>
