<section class="m-footer">
     <div class="wrapper">
          <div class="box-footers">
               <h3>KATAGORI</h3>
               <ul>
               {% set postslist = collections.posts %}
                    {% for post in postslist | reverse %}
                         <article{% if post.url == url %} data-current="current item"{% endif %}>			
                              {% if post.data.summary %}				
                                   <div>
                                        {% if post.data.tags %}
                                             <p>
                                                  {% for tag in post.data.tags %}                                                  
                                                       {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                                                  <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>                                                  
                                                  {% endfor %}
                                             </p>
                                        {% endif %}
                                   </div>
                              {% endif %}
                         </article>
                    {% endfor %}
               </ul>
          </div>
          <div class="box-footers">
               <h3>BLOG</h3>
               <ul>
                    <li> satu </li>
                    <li> dua </li>
                    <li> satiga </li>
                    <li> saempat </li>
                    <li> lima</li>
               </ul>
          </div>
          <div class="box-footers">
               <h3>ARTIKEL</h3>
               <ul>
                    <li> satu </li>
                    <li> dua </li>
                    <li> satiga </li>
                    <li> saempat </li>
                    <li> lima</li>
               </ul>

          </div>
     </div>
</section>

<section>

</section>