<section>
	{% for cat in post.data.category %}
                    {% if cat != "unknown" %}
                        {{ cat }}
                    {% else %}
                        Kategori unknown
                    {% endif %}
                {% endfor %}
</section>
