<section>
{% for cat in post.data.category %}	
	{% for post in postslist | reverse %}
	{% if cat == "galery" %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>			
		</article>
	{% else %}
        Kategori unknown
    {% endif %}
	{% endfor %}	
{% endfor %}
</section>
