<div class="rslides_container">     
  <div class="wrapper2">       
    <ul class="rslides" id="slider1">
      <li><img  src="{{ '/' | url }}static/img/b1.jpg"></li>
      <li><img  src="{{ '/' | url }}static/img/b2.jpg"></li>
    </ul>
  </div>
</div>

