---
layout: layouts/base.njk
section: article
permalink: /article/index.html
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.png">
<div class="wrapper">
<h1>{{ title }}</h1>
{{ layoutContent | safe }}

{% set articleslist = collections.articles %}
{% include "components/articlelist.njk" %}
</div>