---
layout: layouts/base.njk
section: galery
permalink: /galery/index.html
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.png">
<div class="wrapper">
<h1>{{ title }}</h1>
{{ layoutContent | safe }}

{% set articleslist = collections.posts %}
{% include "components/articleslist.njk" %}
</div>