<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="left-head">
					<img src="{{ '/' | url }}"logoss.png alt="">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</div>
			<div class="right-head">
				ini kanan ok
			</div>
			{% include "components/nav.njk" %}
			
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
