<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<div class="wrapper navmob" id="mobile">
			<nav id="menumob">
				{% include "components/navmob.njk" %}
			</nav>
			<div id="mobileBodyContent">
				<header>
					<div class="head-title">
							<img class="logo" src="{{ '/' | url }}static/img/logo.png">
						<a href="{{ '/' | url }}">{{ metadata.title }}</a>
					</div>
					
					<nav id="menu">
						{% include "components/nav.njk" %}
					</nav>
					
				</header>
				{% include "components/banner.njk" %}
				<main>
					{{ layoutContent | safe }}
				</main>

				{% include "components/footer.njk" %}
			</div>
		</div>
	</body>

<script>
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1015,
        namespace: "centered-btns"
      });
    });
  </script>

	 <script>
 var burgerBtn = document.getElementById('burgerBtn');
var mobile = document.getElementById('mobile');

var navmob = document.getElementById('navmob');

burgerBtn.addEventListener('click', function() {
  mobile.classList.toggle('navigation');
}, false);


navmob.addEventListener('click', function() {
  navmob.classList.add('active');

  mobile.classList.add('navmob');
  mobile.classList.remove('navigation');
}, false);
</script>
</html>
