<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<div class="navmob" id="mobile">	
			{% include "components/navmob.njk" %}			
			<div id="mobileBodyContent">	
				<header>
					{% include "components/header.njk" %}		
				</header>	



				<main>
					<div class="wrapper">
						{{ layoutContent | safe }}
					</div>
				</main>
				{% include "components/footer.njk" %}
			</div>
		</div>
	</body>

<script>
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1366,
        namespace: "centered-btns"
      });
    });
  </script>

	
</html>
