---
layout: layouts/base.njk
section: galery
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.png">
<div class="wrapper">
<article>
  <h1>{{ title }} -By Mr Poerba-</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>
<!--
    This is for a single content that linked from majalahslist to majalah_view
-->
  {{ layoutContent | safe }}

  {% if category %}
    <p>    
    {% for cat in category %}
    {%- if cat != "galery" -%}
        {% set tagUrl %}/tags/{{ cat }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="cat">{{ cat }}</a>
    {%- endif -%}
    {% endfor %}
    
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/galery/' | url }}">← Galery index</a>
</nav>
</div>