---
layout: layouts/base.njk
section: home
---
{% include "components/slider.njk" %}	
	
<div class="wrapper">
  {% include "components/iklan.njk" %}	
  
  <article class="main-cont-left">
      {{ layoutContent | safe }}
  </article>
  <article class="main-cont-right">
      {% include "components/contentright.njk" %}	
  </article>
</div>

{% set items = [{ title: "foo", id: 1 }, { title: "bar", id: 2}]; %}
<h1>Posts</h1>
<ul>
{% for item in items %}
  <li>{{ item.title }}</li>
{% else %}
  <li>This would display if the 'item' collection were empty</li>
{% endfor %}
</ul>

<script>
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1366,
        namespace: "centered-btns"
      });
    });
</script>
