---
layout: layouts/base.njk
section: home
---
{% include "components/slider.njk" %}	
	
<div class="wrapper">
  {% include "components/iklan.njk" %}	
  <section class="main-cont-left" style="padding: 20px 5px 0 0; line-height: 0.7;">
    {% set postslist = collections.posts %}
    {% include "components/contentleft.njk" %}
  </section>
  <section class="main-cont-right">
      {{ layoutContent | safe }}
      <div id="netlify-modal">
        <div data-netlify-identity-menu></div>
      </div>
      
  </section>
</div>


<script>
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1366,
        namespace: "centered-btns"
      });
    });
  </script>