---
layout: layouts/base.njk
section: home
---

<!-- Slides Container -->
    <banner>
        <div data-u="slides" style="position: absolute; left: 0px; top: 0px; width: 600px; height: 300px;
        overflow: hidden;">
            <div><img data-u="image" src="{{ '/' | url }}static/img/slider/001.jpg" /></div>
            <div><img data-u="image" src="{{ '/' | url }}static/img/slider/002.jpg" /></div>
            <div><img data-u="image" src="{{ '/' | url }}static/img/slider/003.jpg" /></div>
        </div>        
    </banner>
    
</div>
<!-- Jssor Slider End -->

{{ layoutContent | safe }}
