---
layout: layouts/base.njk
section: majalah
---

<article>
  <h1>{{ title }} -1-</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
    </small>
  </p>
<!--
    This is for a single content that linked from majalahslist to majalah_view
-->
  {{ layoutContent | safe }}

  {% if tags %}
    <p>    
    {% for tag in tags %}
    {%- if tag != "majalah" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
    {%- endif -%}
    {% endfor %}
    
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/majalah/' | url }}">← Article index</a>
</nav>
