---
layout: layouts/base.njk
section: page
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg">
<div class="wrapper">
    <h1 class="tes">{{ title }}</h1>

    {{ layoutContent | safe }}
</div>