---
layout: layouts/base.njk
section: post
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg">
<div class="wrapper">
  <article>
    <h1>{{ title }}</h1>
    <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}
      </small>
    </p>

    {{ layoutContent | safe }}

    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>
  
  {% if tags %}
    {% for tag in tags %}
      {%- if tag == "galery" -%}
      <nav>
        <a href="{{ '/galery/' | url }}">← Galery index</a>
      </nav>
      {%- else -%}
      <nav>
        <a href="{{ '/blog/' | url }}">← Blog index</a>
      </nav>
      {%- endif -%}
    {% endfor %}
  {% endif %}
</div>